__pycache__
.env
tmp/*
orgs/orgs_info.json
orgs/initial_state/*
orgs/modified_state/*
initial_data/*


scripts/serve_vllm_multi.sh
scripts/launch_opencua_service_batch.sh


examples/opencua_zero_shot.sh
examples/uitars15_zero_shot.sh
examples/claudecua_zero_shot.sh
examples/bu_claude4_zero_shot.sh
examples/sample_outputs/demo_opencua/*
*.csv


gradio/.gradio/certificate.pem

data/auth_state_cua.json
data/auth_state_bu.json
outputs/*